FOUNDRY_PROFILE="default"

# RPC_URL=
# ETH_FROM=
# USE_SOFTWARE_WALLET=false

RPC_URL="http://localhost:8545/"
ETH_FROM=
ETH_FROM_PK=
USE_SOFTWARE_WALLET=true

# POL ADDRESSES
DEPOSIT_CONTRACT=
WBERA=
BGT=
BERA_CHEF=
BGT_STAKER=

# gBERA ADDRESSES
DEPLOYER=
